@use "./fonts" as *;
@use "./mixins" as *;

$primary-color: #323232;
$grey-color: #afafaf;
$secondary-color-gry: #e1e1e1;
$secondary-color-wht: #fafafa;

html {
  margin: 0;
}

body {
  font-family: "NewAvenir";
  margin: 0;
  font-size: 62.5%;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1.4rem 1rem 1rem 0;
  @include tablet{
    @include tablet{
        font-size:2.5rem;
        margin-left: 1rem;
        margin-top:2.5rem;
    }
  }
}

p {
  font-size: 0.9rem;
}

main {
  color: $primary-color;
}

.primary-nav {
  &__links {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    
    
  }

  &__link {
    margin: 0;
    padding: 0 2rem 0.5rem 2rem;
    width: 50%;
    text-align: center;
    color: $grey-color;
    @include tablet{
        padding: 0 0 1.5rem 0;
        margin:1rem 1.5rem 0rem 2rem;
    }

    &:hover {
      border-bottom: solid white;
      color: white;
    }

    &:active {
      border-bottom: solid white;
      color: white;
      font-weight: 600;
    }
  }
  & a {
    text-decoration: none;
    color: $grey-color;
    &:hover {
      color: white;
    }
  }
}

//   @include tablet {
//     margin-left: 6rem;
//     padding: 1rem 0;
//   }

.page-header {
  background-color: $primary-color;
  color: #ffffff;
  @include tablet{
    display:flex;
    flex-direction:row;
    align-items:baseline;
    padding-top:.5rem;
}

  &__img {
    display: flex;
    justify-content: center;
    padding: 1rem;

  }
}

//   @include tablet {
//     display: flex;
//     padding: 0rem 1rem;
//     align-items: baseline;
//   }


.footer {
  background-color: $primary-color;
  color: white;
  padding: 1rem 1rem;


  &__title {
    margin-top: 0;
    margin-right:2rem
  }

  &__header{
      @include tablet{
        display:flex;
        align-items:baseline;
      }
  }

  &__container{
      @include tablet{
          display:flex;
          justify-content:space-between;
          margin: 1rem 1rem 0 1rem;
            }


      }
  

  & .Social {
    margin-right: 2rem;
  }


  &__info--container {
    margin: 1rem 0;

    
  }

  &__info--text {
    margin: 0;
    font-size: 0.7rem;
    @include tablet{
        font-size: .9rem;
    }
  }

  &__image {
    margin: 3rem 0 1rem 0;
    @include tablet{
        margin:0;

    }

  }

  & p{
      color:$secondary-color-wht;
  }
}
