@use "./fonts" as *;
@use "./mixins" as *;

$primary-color: #323232;
$grey-color: #afafaf;
$secondary-color-gry: #e1e1e1;
$secondary-color-wht: #fafafa;

html {
  margin: 0;
}

body {
  font-family: "NewAvenir";
  margin: 0;
  font-size: 62.5%;
  color: $primary-color;
}

h1 {
  // display: flex;
  // justify-content: center;
  @include centering;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1.4rem 1rem 1rem 0;
  @include tablet {
    @include tablet {
      font-size: 2.5rem;
      margin-left: 1rem;
      margin-top: 2.5rem;
    }
  }
}

p {
  font-size: 0.9rem;
}

main {
  color: $primary-color;
}

.primary-nav {
  &__links {
    list-style: none;
    // display: flex;
    // justify-content: center;
    @include centering;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  &__link {
    margin: 0;
    padding: 0 2rem 0.5rem 2rem;
    width: 50%;
    text-align: center;
    color: $grey-color;
    @include tablet {
      padding: 0 0 1.5rem 0;
      margin: 1rem 1.5rem 0rem 2rem;
    }

    &:hover {
      border-bottom: solid white;
      color: white;
    }

    &:active {
      border-bottom: solid white;
      color: white;
      font-weight: 600;
    }
  }
  & a {
    color: $grey-color;
    &:hover {
      color: white;
    }
  }
}

.page-header {
  background-color: $primary-color;
  color: #ffffff;
  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 0.5rem;
  }

  @include desktop {
    padding-left: 7rem;
    padding-top: 1rem;
  }

  &__img {
    // display: flex;
    // justify-content: center;
    @include centering;
    padding: 1rem;
  }
}

.footer {
  background-color: $primary-color;
  color: white;
  padding: 0.5rem 1rem;
  @include tablet {
    padding: 3rem 1rem;
  }
  @include desktop {
    padding-left: 6rem;
  }

  &__title {
    @include tablet {
      margin: 0 2rem 0 2rem;
    }
  }

  &__header {
    @include tablet {
      display: flex;
      align-items: baseline;
    }
  }

  &__container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      margin: 2rem 1rem 0 2rem;
    }

    @include desktop {
      justify-content: flex-start;
    }
  }

  & .Social {
    margin-right: 2rem;
    @include tablet {
      height: 2rem;
      width: 2rem;
    }
  }

  &__info--container {
    margin: 1rem 0;
    @include desktop {
      margin-right: 4rem;
    }
  }

  &__info--text {
    margin: 0;
    font-size: 0.7rem;
    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__image {
    margin: 3rem 0 1rem 0;
    @include tablet {
      margin: 0;
      position: relative;
      bottom: 14rem;
      left: 35rem;
      height: 1.5rem;
    }
    @include desktop {
      left: 59.5rem;
    }
  }

  & p {
    color: $secondary-color-wht;
  }

  & .copyright {
    @include tablet {
      margin-left: 2rem;
    }
  }
}

a {
  text-decoration: none;
}


