$primary-color: #323232;
$grey-color: #afafaf;
$secondary-color-gry: #e1e1e1;
$secondary-color-wht: #fafafa;


@mixin mobile {
  @media (min-width: 0px) and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}


@mixin centering{
  display:flex;
  justify-content: center;
}

@mixin flexColumn{
  display:flex;
  flex-direction:column;
}

@mixin btnStyle{
  color: white;
    background-color: $primary-color;
    align-items: center;
    border-radius: 0.4rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border:none;
    
    
}

