@font-face {
  font-family: "NewAvenir";
  src: url("../Assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../Assets/Font/Alternative-files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "NewAvenir";
  src: url("../Assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../Assets/Font/Alternative-files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "NewAvenir";
  src: url("../Assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../Assets/Font/Alternative-files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
html {
  margin: 0;
}

body {
  font-family: "NewAvenir";
  margin: 0;
  font-size: 62.5%;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1.4rem 1rem 1rem 0;
}
@media (min-width: 768px) and (min-width: 768px) {
  h3 {
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-top: 2.5rem;
  }
}

p {
  font-size: 0.9rem;
}

main {
  color: #323232;
}

.primary-nav__links {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.primary-nav__link {
  margin: 0;
  padding: 0 2rem 0.5rem 2rem;
  width: 50%;
  text-align: center;
  color: #afafaf;
}
@media (min-width: 768px) {
  .primary-nav__link {
    padding: 0 0 1.5rem 0;
    margin: 1rem 1.5rem 0rem 2rem;
  }
}
.primary-nav__link:hover {
  border-bottom: solid white;
  color: white;
}
.primary-nav__link:active {
  border-bottom: solid white;
  color: white;
  font-weight: 600;
}
.primary-nav a {
  text-decoration: none;
  color: #afafaf;
}
.primary-nav a:hover {
  color: white;
}

.page-header {
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .page-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 0.5rem;
  }
}
.page-header__img {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.footer {
  background-color: #323232;
  color: white;
  padding: 1rem 1rem;
}
.footer__title {
  margin-top: 0;
  margin-right: 2rem;
}
@media (min-width: 768px) {
  .footer__header {
    display: flex;
    align-items: baseline;
  }
}
@media (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 0 1rem;
  }
}
.footer .Social {
  margin-right: 2rem;
}
.footer__info--container {
  margin: 1rem 0;
}
.footer__info--text {
  margin: 0;
  font-size: 0.7rem;
}
@media (min-width: 768px) {
  .footer__info--text {
    font-size: 0.9rem;
  }
}
.footer__image {
  margin: 3rem 0 1rem 0;
}
@media (min-width: 768px) {
  .footer__image {
    margin: 0;
  }
}
.footer p {
  color: #fafafa;
}

.biography {
  color: white;
  font-weight: 600;
  border-bottom: solid white;
}
.biography a {
  color: white;
}

.banner {
  background-image: url("../Assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  min-height: 12rem;
  max-height: 12rem;
}
@media (min-width: 768px) {
  .banner {
    min-height: 32rem;
    max-height: 32rem;
  }
}
.banner__container {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 12rem;
  max-height: 12rem;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .banner__container {
    min-height: 32rem;
    max-height: 32rem;
  }
}
.banner__title {
  color: white;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .banner__title {
    font-size: 3.8rem;
    padding-left: 3rem;
  }
}

@media (min-width: 768px) {
  .Description {
    margin: 3rem 5rem;
  }
}
.Description .Description__title {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  margin-bottom: 0rem;
}
@media (min-width: 768px) {
  .Description .Description__title {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .Description__text {
    margin: 1rem 1rem 1rem 0;
  }
}
@media (min-width: 768px) {
  .Description__container {
    display: flex;
  }
}

.gallery {
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .gallery {
    padding: 2rem;
  }
}
.gallery__title {
  margin: 0 0 0.3rem 1rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .gallery__title {
    padding-bottom: 1rem;
  }
}
.gallery__img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .gallery__img-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.gallery__img {
  height: auto;
  width: 18rem;
  margin: 0.5rem 0;
}
@media (min-width: 768px) {
  .gallery__img {
    width: 30%;
    margin: 0.6rem;
  }
}

.About {
  margin: 1rem;
}
.About__container {
  font-weight: 600;
}
@media (min-width: 768px) {
  .About__description {
    margin: 1rem 5rem;
  }
}
.About__image {
  height: auto;
  width: 18rem;
}
@media (min-width: 768px) {
  .About__image {
    margin-top: 1rem;
    width: 35rem;
    height: 20rem;
  }
}
.About__quote {
  font-size: 1.4rem;
}
.About__quote--cite {
  font-size: 1rem;
}/*# sourceMappingURL=bio.css.map */