@font-face {
  font-family: "NewAvenir";
  src: url("../Assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../Assets/Font/Alternative-files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "NewAvenir";
  src: url("../Assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../Assets/Font/Alternative-files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "NewAvenir";
  src: url("../Assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../Assets/Font/Alternative-files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
html {
  margin: 0;
}

body {
  font-family: "NewAvenir";
  margin: 0;
  font-size: 62.5%;
}

.primary-nav__links {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.primary-nav__link {
  margin: 0;
  padding: 0 2rem 0.5rem 2rem;
  width: 50%;
  text-align: center;
  color: #afafaf;
}
.primary-nav__link:hover {
  border-bottom: solid white;
  color: white;
}
.primary-nav__link:active {
  border-bottom: solid white;
  color: white;
  font-weight: 600;
}
.primary-nav a {
  text-decoration: none;
  color: #afafaf;
}
.primary-nav a:hover {
  color: white;
}

.page-header {
  background-color: #323232;
  color: #ffffff;
}
.page-header__img {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1.4rem 1rem 1rem 0;
}

p {
  font-size: 0.9rem;
}

main {
  color: #323232;
}

.footer {
  background-color: #323232;
  color: white;
  padding: 1rem 1rem;
}
.footer__title {
  margin-top: 0;
}
.footer.Social {
  margin-right: 2rem;
}
.footer__info--container {
  margin: 1rem 0;
}
.footer__info--text {
  margin: 0;
  font-size: 0.7rem;
}
.footer__image {
  margin: 3rem 0 1rem 0;
}

.biography {
  color: white;
  font-weight: 600;
}
.biography a {
  color: white;
}
@media (min-width: 768px) {
  .biography {
    padding-bottom: 2.5rem;
  }
}

.banner {
  background-image: url("../Assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  min-height: 12rem;
  max-height: 12rem;
}
.banner__container {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 12rem;
  max-height: 12rem;
  display: flex;
  align-items: center;
}
.banner__title {
  color: white;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
}

.Description__title {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  margin-bottom: 0rem;
}

.gallery {
  background-color: #fafafa;
}
.gallery__title {
  margin: 0 0 0.3rem 1rem;
  padding-top: 1rem;
}
.gallery__img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery__img {
  height: auto;
  width: 18rem;
  margin: 0.5rem 0;
}

.About {
  margin: 1rem;
}
.About__container {
  font-weight: 600;
}
.About__image {
  height: auto;
  width: 18rem;
}/*# sourceMappingURL=bio.css.map */