@use "../styles/partials/fonts" as *;
@use "../styles/partials/global" as *;
@use "../styles/partials/mixins" as *;

.biography {
  color: white;
  font-weight: 600;
  border-bottom: solid white;

  & a {
    color: white;
  }
}

.banner {
  background-image: url("../Assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  min-height: 12rem;
  max-height: 12rem;
  @include tablet {
    min-height: 32rem;
    max-height: 32rem;
  }

  &__container {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 12rem;
    max-height: 12rem;
    display: flex;
    align-items: center;
    @include tablet {
      min-height: 32rem;
      max-height: 32rem;
    }
  }

  &__title {
    color: white;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 1rem;
    @include tablet {
      font-size: 3.8rem;
      padding-left: 3rem;
    }
    @include desktop {
      padding-left: 10rem;
    }
  }
}

.Description {
  @include tablet {
    margin: 3rem 5rem;
  }
  .Description__title {
    font-size: 1rem;
    font-weight: 500;
    color: black;
    margin-bottom: 0rem;
    @include tablet {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &__text {
    @include tablet {
      margin: 1rem 1rem 1rem 0;
    }
  }

  &__container {
    @include tablet {
      display: flex;
    }
  }
}

.gallery {
  background-color: $secondary-color-wht;
  @include tablet {
    padding: 1rem;
  }
  @include desktop {
    padding: 2rem 5rem 0.5rem 6rem;
  }

  &__title {
    margin: 0 0 0.3rem 1rem;
    padding-top: 1rem;
    @include tablet {
      padding-bottom: 1rem;
    }
    @include desktop {
      margin: 0 0 0.3rem 2rem;
    }
  }

  &__img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__img {
    height: auto;
    width: 18rem;
    margin: 0.5rem 0;
    @include tablet {
      width: 30%;
      margin: 0.6rem;
    }
  }
}

.About {
  margin: 1rem;
  @include desktop {
    margin: 1rem 8rem;
  }

  &__container {
    font-weight: 600;
  }

  &__description {
    @include tablet {
      margin: 1rem 5rem;
    }
  }

  &__image {
    height: auto;
    width: 18rem;
    @include tablet {
      margin-top: 1rem;
      width: 35rem;
      height: 20rem;
    }

    @include desktop {
      width: 55rem;
      height: 30rem;
    }
  }

  &__quote {
    font-size: 1.4rem;
  }

  &__quote--cite {
    font-size: 1rem;
  }
}


.comments{
  margin:1rem;

  &__container{
    display:flex;
    border-bottom: solid 0.1rem $secondary-color-gry;
    margin-top:1rem;

  }

  &__container--pic{
    width:2.5rem;
    height:2.5rem;
    border-radius: 50%;
  }

  &__container--name{
    margin:0;
    font-weight:600;
  }

  &__container--date{
    margin:0;
    font-weight: 400;
    color: $grey-color;
  }

  &__container--right{
    margin-left: 1rem;
    width:100%;

  }
  &__container--header{
    display:flex;
    justify-content:space-between;
    font-size: 0.8rem;

  }

  &__container--text{
    max-width: 100%;
    min-height:8rem;
    resize:none;
  }

  &__container--form{
    display:flex;
    flex-direction:column;
  }

  &__container--btn{
    color: white;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    margin:1rem 0;

    @include tablet {
      width: 12rem;
    }
  }

  &__container--btncontainer{
    display: flex;
    flex-direction: column;
    
}
  & .comments-section{
    width:100%;
  }

  &__container--label{
    font-size:0.7rem;
    color:$grey-color;
    text-transform:uppercase;
    font-weight: 600;
    margin: 1.5rem 0 0.5rem 0;
  }

  &__container--text{
    font-family: 'NewAvenir';
    padding: 0.5rem;
    background-color:$secondary-color-wht;
    border: solid 0.1rem $secondary-color-gry;
    border-radius:0.4rem;
  }

  &__container--username{
    padding:0.5rem;
    font-family: 'NewAvenir';
    background-color:$secondary-color-wht;
    border: solid 0.1rem $secondary-color-gry;
    border-radius:0.4rem;
  }

  & .name-label{
    margin-top:0rem;
  }


}