@use '../styles/partials/fonts' as *;
@use '../styles/partials/global' as *;
@use '../styles/partials/mixins' as *;

.biography{


   
    color:white;
    font-weight:600;

    & a{
        color:white;
    }
    

    @include tablet{
        padding-bottom:2.5rem;
    }

}

.banner{
    background-image: url('../Assets/Images/hero-bio.jpg');
    background-size: cover;
  background-position: center;
  min-height: 12rem;
  max-height: 12rem;
  
}

.banner__container{
    background-color:rgba(0,0,0,.5);
    min-height: 12rem;
  max-height: 12rem;
  display:flex;
  align-items:center;
}

.banner__title{
    color:white;
    margin:0; 
    font-size: 1.5rem;
    font-weight:600;
    padding-left: 1rem;
      
}


.About__image{
    height:auto;
    width:18rem;
    
}

.About>*{
    font-weight: 600;
}

.Description__title{
    font-size: 1rem;
    font-weight:500;
    color:black;
    margin-bottom:0rem;
    
    

}

.gallery{
    background-color: $secondary-color-wht;
}

.gallery__title{
    margin: 0 0 0.3rem 1rem;
    padding-top:1rem;
}

.information{
    margin:1rem;
}

.gallery__img{
    height:auto;
    width:18rem;
    margin: .5rem 0;
}

.gallery__img-container{
    display:flex;
    align-items:center;
    flex-direction:column;
}



