@font-face {
  font-family: "NewAvenir";
  src: url("../Assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../Assets/Font/Alternative-files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "NewAvenir";
  src: url("../Assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../Assets/Font/Alternative-files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "NewAvenir";
  src: url("../Assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../Assets/Font/Alternative-files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
html {
  margin: 0;
}

body {
  font-family: "NewAvenir";
  margin: 0;
  font-size: 62.5%;
  color: #323232;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1.4rem 1rem 1rem 0;
}
@media (min-width: 768px) and (min-width: 768px) {
  h3 {
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-top: 2.5rem;
  }
}

p {
  font-size: 0.9rem;
}

main {
  color: #323232;
}

.primary-nav__links {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.primary-nav__link {
  margin: 0;
  padding: 0 2rem 0.5rem 2rem;
  width: 50%;
  text-align: center;
  color: #afafaf;
}
@media (min-width: 768px) {
  .primary-nav__link {
    padding: 0 0 1.5rem 0;
    margin: 1rem 1.5rem 0rem 2rem;
  }
}
.primary-nav__link:hover {
  border-bottom: solid white;
  color: white;
}
.primary-nav__link:active {
  border-bottom: solid white;
  color: white;
  font-weight: 600;
}
.primary-nav a {
  color: #afafaf;
}
.primary-nav a:hover {
  color: white;
}

.page-header {
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .page-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .page-header {
    padding-left: 7rem;
    padding-top: 1rem;
  }
}
.page-header__img {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.footer {
  background-color: #323232;
  color: white;
  padding: 0.5rem 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 3rem 1rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding-left: 6rem;
  }
}
@media (min-width: 768px) {
  .footer__title {
    margin: 0 2rem 0 2rem;
  }
}
@media (min-width: 768px) {
  .footer__header {
    display: flex;
    align-items: baseline;
  }
}
@media (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem 0 2rem;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    justify-content: flex-start;
  }
}
.footer .Social {
  margin-right: 2rem;
}
@media (min-width: 768px) {
  .footer .Social {
    height: 2rem;
    width: 2rem;
  }
}
.footer__info--container {
  margin: 1rem 0;
}
@media (min-width: 1280px) {
  .footer__info--container {
    margin-right: 4rem;
  }
}
.footer__info--text {
  margin: 0;
  font-size: 0.7rem;
}
@media (min-width: 768px) {
  .footer__info--text {
    font-size: 0.9rem;
  }
}
.footer__image {
  margin: 3rem 0 1rem 0;
}
@media (min-width: 768px) {
  .footer__image {
    margin: 0;
    position: relative;
    bottom: 14rem;
    left: 35rem;
    height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .footer__image {
    left: 59.5rem;
  }
}
.footer p {
  color: #fafafa;
}
@media (min-width: 768px) {
  .footer .copyright {
    margin-left: 2rem;
  }
}

a {
  text-decoration: none;
}

.shows {
  color: white;
  font-weight: 600;
  border-bottom: solid white;
}
.shows a {
  color: white;
}

.show-info {
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .show-info {
    margin: 1rem 2rem;
  }
}
@media (min-width: 1280px) {
  .show-info {
    display: flex;
    justify-content: space-around;
  }
}
.show-info__title {
  margin: 1rem 1rem 0 1rem;
}
.show-info__container {
  border-bottom: solid 0.1rem #e1e1e1;
  padding: 1rem;
}
@media (min-width: 768px) {
  .show-info__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.show-info__container--title {
  color: #afafaf;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1rem 0 0.5rem 0;
}
@media (min-width: 768px) {
  .show-info__container--title {
    margin-bottom: 2.5rem;
  }
}
.show-info__container--info {
  margin-top: 0;
  width: 8rem;
}
@media (min-width: 768px) {
  .show-info__container--info {
    margin-top: 1rem;
  }
}
@media (min-width: 1280px) {
  .show-info__wrapper {
    margin-left: 2rem;
    width: 65%;
  }
}
.show-info__btn {
  color: white;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
@media (min-width: 768px) {
  .show-info__btn {
    width: 12rem;
  }
}
.show-info .date {
  font-weight: 600;
  width: 8rem;
}
.show-info .show-header {
  border: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .show-info .show-header {
    display: none;
  }
}
.show-info .special {
  width: 8rem;
  margin: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .show-info .special {
    display: none;
  }
}
@media (min-width: 768px) {
  .show-info .hide-title {
    display: none;
  }
}
.show-info .hide-btn {
  visibility: hidden;
}

.show-hover:hover {
  background-color: #fafafa;
}

.banner {
  background-image: url("../../Assets/Images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  min-height: 15rem;
  max-height: 15rem;
  color: white;
}
@media (min-width: 768px) {
  .banner {
    min-height: 30rem;
    max-height: 30rem;
  }
}
@media (min-width: 1280px) {
  .banner {
    min-height: 35rem;
    max-height: 35rem;
  }
}
.banner__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 15rem;
  max-height: 15rem;
}
@media (min-width: 768px) {
  .banner__overlay {
    min-height: 30rem;
    max-height: 30rem;
  }
}
@media (min-width: 1280px) {
  .banner__overlay {
    min-height: 35rem;
    max-height: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.banner__container--left {
  max-width: 80%;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .banner__container--left {
    margin: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .banner__container--left {
    max-width: 38%;
  }
}
.banner__album-name {
  margin: 0;
  padding-top: 1.5rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .banner__album-name {
    font-size: 1.6rem;
    padding-top: 3.5rem;
  }
}
.banner__title {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .banner__title {
    font-size: 3.6rem;
    margin-top: 1rem;
  }
}
.banner__container--right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .banner__container--right {
    align-items: flex-start;
    margin: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .banner__container--right {
    margin-top: 5rem;
  }
}
.banner__music {
  max-height: 4rem;
  max-width: 18rem;
}
@media (min-width: 768px) {
  .banner__music {
    max-height: 8.5rem;
    max-width: 25rem;
  }
}
@media (min-width: 1280px) {
  .banner__music {
    width: 30rem;
  }
}/*# sourceMappingURL=shows.css.map */